@use 'colors' as color;

.footer {
	margin-top: auto;
	padding: 5rem 2rem;
	background-color: color.$black3;
	text-transform: uppercase;

	&__box-links,
	&__box-social {
		position: relative;
		display: flex;
		flex-direction: column;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			bottom: 50%;
			transform: translateY(-50%);
			width: 2px;
			height: 175px;
			background-color: color.$black2;
		}
	}

	&__box-links {
		a {
			color: color.$white2;
			padding: 0.75rem 0 0.75rem 1.6rem;
			transition: color 0.3s;
		}
	}

	&__domain-name {
		display: none;
	}

	&__box-social {
		&::before {
			right: 0;
		}
		a {
			display: flex;
			justify-content: flex-end;
			margin-right: 1.6rem;
			color: color.$white2;
			font-size: 3.2rem;
			transition: color 0.3s;
			&:nth-child(2) {
				margin: 3.3rem 1.6rem 3.3rem 0rem;
			}
		}
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
	}
}
