@use 'colors' as color;

.nav {
	position: fixed;
	top: 0;
	padding: 2rem 0;
	width: 100%;
	height: 75px;
	transition: background-color 0.5s;
	z-index: 100;
	&.dark-shadow {
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__box {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		color: color.$white1;
		font-size: 3rem;
		overflow: hidden;
		z-index: 18;

		&-icon {
			cursor: pointer;
		}
	}

	&__box-call {
		overflow: hidden;

		&-number {
			color: color.$white1;
			font-size: 2rem;
			transform-origin: left;
			transition: transform 0.5s;
			transform: translateX(-106px);
			cursor: pointer;
			&.show-number {
				margin-left: 1rem;
				transform: translateX(0px);
			}

			&.underline {
				text-decoration: underline;
			}
		}
	}

	.nav__mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		background-color: #fff;
		font-size: 2.1rem;
		text-transform: uppercase;
		z-index: -1;
		transform: translateY(-100%);
		transition: transform 0.3s;
		&.show-menu {
			transform: translateY(0%);
		}

		a {
			padding: 1.5rem;
			color: #000;
		}
	}

	&__desktop {
		display: none;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
}

.black-color {
	color: #000;
}
.stop-scrolling {
	overflow-y: hidden;
}
