@use 'colors' as color;

body {
	display: flex;
	flex-direction: column;
	background-color: color.$black1;
	font-size: 1.6rem;
	font-family: 'Hind Madurai', sans-serif;
}

.wrapper {
	padding: 0 2rem;
	margin-inline: auto;
	max-width: 1240px;
	width: 100%;
}

.header {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url('../../dist/img/newBlackBmwMati640.jpg');
	background-size: cover;
	background-position: bottom center;
	z-index: 10;

	&__hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}

	&__heading {
		padding-top: 27vh;
		color: color.$white1;
		font-size: 2.5rem;
		text-transform: uppercase;
	}

	&__text {
		color: color.$white1;
		font-size: 1.4rem;
		margin-top: 1rem;
		margin-bottom: 4rem;
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding-block: 1.6rem;
		width: 225px;
		background-color: #fff;
		color: #000;
		font-size: 1.4rem;
		font-weight: 700;
		border-radius: 50px;
		text-transform: uppercase;
		z-index: 1;
		overflow: hidden;

		&::before,
		&::after {
			position: absolute;
			content: '';
			transition: left 0.5s;
			z-index: -1;
		}

		&::before {
			top: -70px;
			left: -220px;
			height: 200px;
			width: 200px;
			background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.5));
			transform: rotate(30deg);
		}

		&:hover:before {
			left: 107%;
		}
	}

	&__scroll-down {
		display: block;
		position: absolute;
		bottom: 4rem;
		left: 50%;
		padding: 1rem 2rem;
		color: color.$white1;
		font-size: 3.5rem;
		translate: -50% 0;
		animation: bounce-top 3s both infinite;
		cursor: pointer;
	}
}

.section {
	padding: 10rem 2rem 0;
}

.section-heading {
	margin-bottom: 4rem;
	color: color.$white1;
	text-align: center;
	font-size: 2.9rem;
	font-weight: 600;
	text-transform: uppercase;
}

.services {
	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 2.7rem 2rem;
		height: 450px;
		background-image: url('../../dist/img/sports-car-1349150_640.jpg');
		background-position: center;
		background-size: cover;
		filter: grayscale(100%);
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: -4;
		}

		&--outside-img {
			margin-top: 2rem;
			background-image: url('../../dist/img/bmw-m4-2970890_640.jpg');
			background-position: 30%;
		}

		&-heading {
			color: color.$white2;
			font-size: 1.6rem;
			font-weight: 400;
			text-transform: uppercase;
			&--highlighted {
				color: color.$black1;
				font-weight: 700;
			}

			&--right {
				text-align: right;
			}
		}

		&-check {
			text-align: center;
			&-text {
				color: color.$white2;
				font-size: 1.6rem;
				font-weight: 700;
			}
			&-icon {
				margin-top: 0.6rem;
				color: color.$white2;
				font-size: 1.6rem;
				rotate: 180deg;
				animation: mover 1s infinite alternate;
			}
		}
	}
}

.info-pakiets {
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: color.$white1;
	font-size: 1.7rem;
	text-align: center;
	text-transform: uppercase;

	&-link {
		color: color.$gray1;
		font-weight: 600;
	}
}

.pakiets {
	position: relative;

	.single-pakiet {
		margin-inline: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 650px;
		padding: 1rem;
		width: min(100%, 576px);
		background-color: color.$black3;
		border-radius: 0px 10px 10px 10px;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
		.switch {
			position: absolute;
			left: 0;
			top: -40px;
			width: 100px;
			height: 40px;
			background-color: color.$white1;
			color: color.$black3;
			border-left: 10px solid color.$black3;
			border-right: 10px solid color.$black3;
			border-top: 10px solid color.$black3;
			border-radius: 10px 10px 0 0;
			font-weight: 700;
			text-transform: uppercase;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: color.$black3;
				color: color.$white1;
			}
		}

		.card {
			width: 100%;
			position: relative;
			flex-grow: 1.6;
			margin: 0.5rem;
			border-radius: 5px;
			background-size: cover;
			background-position: center;
			overflow: hidden;
			filter: grayscale(100%);
			transition: flex-grow 0.8s;
			cursor: pointer;

			&.car-paint {
				background-image: url('../../../dist/img/woskowanie.jpg');
			}
			&.car-rims {
				background-image: url('../../../dist/img/car-rims.jpg');
			}
			&.upholstery-washing {
				background-image: url('../../../dist/img/pranieTapicerkiStrona.jpg');
			}
			&.car-cockpit {
				background-image: url('../../../dist/img/pedzelkowanierd.jpg');
			}
			&.car-headliner {
				background-image: url('../../../dist/img/car-headliner.jpg');
			}

			&.inside {
				display: none;
			}

			&.inside-grow {
				flex-grow: 1.1229;
			}

			&.active {
				flex-grow: 9;
			}
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				transition: opacity 0.5s;

				&.active {
					opacity: 0;
				}
			}

			&__box {
				position: absolute;
				left: 50%;
				top: 5%;
				transform: translateX(-50%);
				padding: 2rem;
				width: calc(100% - 10%);
				color: #fff;
				border-radius: 10px;
				text-transform: uppercase;
				z-index: 5;

				&-title {
					position: absolute;
					left: 50%;
					top: 64%;
					transform: translate(-50%, -50%);
					font-weight: 700;
					white-space: nowrap;
				}

				&-info {
					display: none;
					opacity: 0;
					font-weight: 600;
					&-text {
						color: color.$white1;
					}

					&-link {
						color: color.$gray2;
						font-size: 1.4rem;
					}
				}
			}
		}
		.price {
			padding: 1rem;
			margin-block: 0.5rem;
			width: 100%;
			background: rgba(0, 0, 0, 0.6);
			border-radius: 10px;
			color: color.$white1;
			text-align: center;
			z-index: 8;
			&__box {
				margin-bottom: 0.5rem;
				font-size: 1.4rem;
				&-discount {
					text-decoration: line-through;
				}
				&-rebate {
					padding-inline: 0.6rem;
					background: color.$black2;
					border-radius: 36px;
					font-weight: 600;
				}
			}
			&__total {
				font-size: 2.5rem;
				font-family: Lora, serif;
			}
		}
	}

	.active .card__box {
		animation: show-bg 1s 0.6s forwards;
	}

	.active .card__box .card__box-title {
		display: none;
	}

	.active .card__box .card__box-info {
		display: block;
		animation: show-text 1s 0.2s forwards;
	}
}

.section#how-to-order {
	padding-left: 0;
	padding-right: 0;
}

.ordering {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 5rem 0;
	height: 900px;
	background-color: color.$black3;
	&__box {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2.5rem;
		width: 275px;
		height: 200px;
		background-color: color.$white2;
		color: color.$black3;
		border-radius: 10px;
		&:nth-child(2) {
			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: 5px;
				height: 100px;
				background-color: color.$white2;
			}

			&::before {
				top: -100px;
			}

			&::after {
				bottom: -100px;
			}
		}

		&-circle {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 75px;
			width: 75px;
			font-size: 3rem;
			border: 3px solid color.$black3;
			border-radius: 100%;
			&::before {
				content: attr(data-content);
			}
		}

		&-text {
			width: min-content;
			font-size: 2.1rem;
			text-transform: uppercase;
			text-align: right;
			&-bolded {
				font-size: 2.4rem;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
}

.realization {
	margin-bottom: 6rem;
	&.section {
		padding-inline: 0;
	}
	&__box {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(15, 300px);
		gap: 10px;
		&-img {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 8px;
			cursor: pointer;
			object-fit: cover;
			&--1 {
				grid-row: span 2;
			}

			&--4 {
				grid-row: span 2;
			}

			&--1,
			&--4 {
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					height: 5px;
					background-color: color.$black3;
					transform: translatey(-50%);
					z-index: 5;
					pointer-events: none;
				}

				&::after {
					content: 'przed i po';
					position: absolute;
					left: 50%;
					top: 44%;
					transform: translate(-50%, -50%);
					font-size: 3rem;
					color: color.$gray1;
					font-weight: 600;
					z-index: 6;
					text-transform: uppercase;
					pointer-events: none;
				}
				&.desktop {
					display: none;
				}
			}
		}
	}
}

#lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

#lightbox img {
	max-width: 90%;
	max-height: 80%;
	padding: 4px;
	background-color: black;
	border: 2px solid white;
}
