@use 'colors' as color;

.contact {
	.section-heading {
		margin-top: 14rem;
	}

	.form-container {
		padding: 4rem 2rem;
		background-color: color.$black3;
		text-transform: uppercase;

		.form {
			display: flex;
			flex-direction: column;

			&__checkbox {
				margin: .8rem 1rem 1.7rem 0;
				width: 16px;
				height: 16px;
			}

			&__input,
			&__textarea {
				padding: 1.6rem;
				background-color: color.$black2;
				color: color.$white2;
				border: 1px solid transparent;
				&::placeholder {
					text-transform: uppercase;
					color: color.$white2;
				}
				&.error {
					&::placeholder {
						color: color.$error;
					}
					border-color: color.$error;
				}
			}

			&__input {
				margin-bottom: 30px;
			}

			&__textarea {
				margin-bottom: 10px;
				min-height: 150px;
			}

			&__label {
				color: color.$white1;
				&.error {
					color: color.$error;
				}
				&-link {
					position: relative;
					color: color.$gray2;
					transition: color 0.3s;
					z-index: 3;

					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						height: 0;
						width: 100%;
						background-color: color.$gray2;
						z-index: -1;
						transition: background-color 0.3s, height 0.3s;
					}

					&:hover::after {
						height: 100%;
					}

					&:hover {
						color: color.$black3;
					}
				}
			}

			&__btn {
				position: relative;
				margin-top: .5rem;
				padding: 1.6rem;
				background-color: color.$black2;
				color: color.$white2;
				text-transform: uppercase;
				z-index: 1;
				overflow: hidden;

				&::before,
				&::after {
					position: absolute;
					content: '';
					transition: left 0.5s;
					z-index: -1;
				}

				&::before {
					top: -120px;
					left: -380px;
					height: 300px;
					width: 300px;
					background-image: linear-gradient(-90deg, rgba(41, 39, 39, 0.3), rgba(38, 37, 37, 0));
					transform: rotate(30deg);

					// pozmieniac tu ten kod bo sie powetarz z tym w hedarrze w btn
					// pozmieniac tu ten kod bo sie powetarz z tym w hedarrze w btn
					// pozmieniac tu ten kod bo sie powetarz z tym w hedarrze w btn
					// pozmieniac tu ten kod bo sie powetarz z tym w hedarrze w btn
					//
					//
				}

				&:hover:before {
					left: 97%;
				}
			}
		}
	}

	.msg-status {
		display: none;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 75px;
		left: 50%;
		transform: translateX(-50%);
		width: min(100%, 600px);
		height: 102px;
		color: #000;
		font-size: 2.2rem;

		&.success {
			display: flex;
			background-color: #00a86b;
		}

		&.error {
			display: flex;
			background-color: color.$error;
		}
	}

	iframe {
		height: 350px;
		width: 100%;
		border: 0;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
}
