.privacy-policy {
	margin-top: 14rem;
}

.privacy-policy-box {
	margin-bottom: 3rem;
	color: #ced4da;
	font-size: 1.4rem;
}

.privacy-policy-title {
	margin-bottom: 0.5rem;
	color: #f8f9fa;
	font-size: 1.8rem;
	font-weight: 700;
}

ul {
	margin-top: .8rem;
    list-style-position: inside;
}
