@use '../colors' as color;

@media (width >= 992px) {
	.nav {
		.hamburger {
			display: none;
		}

		&__desktop {
			display: block;
			text-transform: uppercase;
			a {
				margin-left: 3rem;
				color: color.$white1;
			}
		}
	}

	.header {
		background-image: url('../../../dist/img/newBmwMati1280.jpg');

		&__heading {
			padding-top: 28vh;
			font-size: 4.8rem;
		}

		&__text {
			margin-top: 1rem;
			margin-bottom: 4.5rem;
			width: 52%;
			font-size: 1.8rem;
		}
	}

	.section {
		padding: 15rem 2rem 0;
	}

	.section-heading {
		margin-bottom: 7.5rem;
		color: color.$white1;
		text-align: center;
		font-size: 4rem;
		font-weight: 600;
		text-transform: uppercase;
	}

	.services {
		display: flex;
		margin-inline: auto;
		width: 900px;

		&__box {
			margin-inline: 0;
			padding: 4rem 3rem;
			height: 586px;
			width: 450px;
			border-radius: 10px 0px 0px 10px;
			overflow: hidden;
			transition: transform 0.3s;

			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(73, 80, 87, 0.3);
				clip-path: circle(0% at 50% 50%);
				transition: clip-path 0.6s;
				z-index: -1;
			}

			&:hover::after {
				clip-path: circle(100% at 50% 50%);
			}

			&--outside-img {
				flex-direction: column-reverse;
				margin-top: 0;
				border-radius: 0px 10px 10px 0px;
			}

			&-heading {
				font-size: 2.4rem;
			}

			&-check {
				&--up {
					display: flex;
					flex-direction: column-reverse;
				}

				&-icon {
					rotate: 180deg;

					&--rotate {
						rotate: 0deg;
						margin-top: 0;
						margin-bottom: 0.6rem;
					}
				}
			}
		}
	}
	.pakiets {
		.single-pakiet {
			flex-direction: row;
			height: auto;
			max-width: 1000px;
			width: 100%;
			margin-bottom: 3rem;

			.switch {
				top: -50px;
				width: 150px;
				height: 50px;
				border-left: 15px solid color.$black3;
				border-right: 15px solid color.$black3;
				border-top: 15px solid color.$black3;
			}
			&--inside {
				margin-bottom: 10rem;
			}

			.price {
				position: absolute;
				left: 50%;
				bottom: 10%;
				transform: translateX(-50%);
				margin-block: 0rem;
				padding: 2rem;
				width: auto;
				&__box {
					font-size: 1.6rem;
					margin-bottom: 1rem;
				}
				&__total {
					font-size: 3rem;
				}
			}

			.card {
				width: auto;
				flex-grow: 0.9;
				height: 550px;

				&.inside-grow {
					flex-grow: 0.7165;
				}

				&.active {
					flex-grow: 8;
				}

				&__box {
					width: 80%;

					&-title {
						position: static;
						font-size: 2.2rem;
						transform: rotate(90deg);
					}

					&-info {
						&-text {
							font-size: 1.8rem;
						}

						&-link {
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}
	.ordering {
		flex-direction: row;
		justify-content: center;
		padding: 6.2rem 2rem;
		height: auto;

		&__box {
			&:nth-child(2) {
				margin-inline: 100px;
				&::before,
				&::after {
					transform: translateY(-50%);
					width: 100px;
					height: 5px;
				}

				&::before {
					top: 50%;
					left: -100px;
				}

				&::after {
					bottom: calc(50% - 5px);
					left: 100%;
				}
			}
		}
	}

	.realization {
		margin-bottom: 10rem;

		&__box {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(6, 300px);

			&-img {
				&--3 {
					grid-row: span 2;
				}

				&--9 {
					grid-row: span 2;
				}
			}
		}
	}

	.footer {
		&__domain-name {
			font-size: 2.4rem;
		}
	}

	.info-pakiets {
		&-link {
			position: relative;
			transition: color 0.3s;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 0;
				width: 100%;
				background-color: color.$gray1;
				z-index: -1;
				transition: background-color 0.3s, height 0.3s;
			}

			&:hover::after {
				height: 100%;
			}

			&:hover {
				color: color.$black1;
			}
		}
	}

	.outside-cleaning {
		margin-top: 17rem;
		.section-heading {
			margin-bottom: 5rem;
		}
	}

	.contact {
		margin-bottom: 10rem;
		.section-heading {
			margin-top: 17rem;
		}

		.form-container {
			padding: 5rem 4rem;
			width: 50%;
			border-radius: 10px 0 0 10px;
		}

		iframe {
			width: 50%;
			height: auto;
			border-radius: 0 10px 10px 0;
		}

		.wrapper {
			flex-direction: row;
			padding: 0 2rem;
		}
	}
}

@media (width >= 1200px) {
	.inside-cleaning {
		margin-top: 30rem;
		display: flex;
		justify-content: space-between;
		&__box {
			&:nth-child(1) {
				margin-top: 0;
				margin-inline: 0;
				transform: translateY(-40px);
			}

			&:nth-child(2) {
				order: 5;
			}
		}
	}

	.info-pakiets {
		font-size: 1.8rem;
	}
}
